[Desktop Entry]
Name=Beeper
Exec=beeper %U
Terminal=false
Type=Application
Icon=com.beeper.beepertexts.png
Comment=The ultimate messaging app
MimeType=x-scheme-handler/beeper;
Categories=Network;
